.Option{
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 0.8rem 0;
    width: 80%;
}
.Option:hover{
    background-color: #e6e6e6;
    cursor: default;
}
.correct{
    border-color: #00d30b;
    background-color: #00d30b;
    color: #ffffff;
    font-weight: bold;
}
.correct:hover{
    border-color: #00d30b;
    background-color: #00d30b;
    color: #ffffff;
    font-weight: bold;
}
.wrong{
    border-color: #ce2424;
    background-color: #ce2424;
    color: #ffffff;
    font-weight: bold;
}
.wrong:hover{
    border-color: #ce2424;
    background-color: #ce2424;
    color: #ffffff;
    font-weight: bold;
}